@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 16px;
}

h1 {
  margin-bottom: 16px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
