@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.rgba-color-change {
  display: flex;
  flex-direction: column;
  padding: 32px;
  max-width: 600px;
  width: 100%;
  background-color: #f1f1f1;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 24px;
}

h1 {
  margin-bottom: 16px;
}

h2 {
  margin-bottom: 32px;
}

.range-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.input {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
}
